<div class="container contact contact-index">
    <ul class="list-group">
        <% travels.forEach(function(travel) { %>
            <!-- 3 -->
            <li class="list-group-item">
                <p>
                    <%= travel.cityName %>
                </p>
                <p>
                    <%= travel.start %>
                </p>
                <p>
                    <%= travel.end %>
                </p>
                <p>
                    <%= travel.comment %>
                </p>
                <p>
                    <%= travel.tags %>
                </p>
                <p>
                    <a href="/edit"> Edit </a>
                </p>
            </li>
            <% }) %>
    </ul>
</div>
