<div class="container contact contact-index">
    <ul class="list-group">
        <% travels.forEach( function(results) {
      if ( searchResult ){
          travel = results.links
      }
      else{
          travel = results
      } %>
            <li class="list-group-item">
                <p>
                    <%= travel.geocode %>
                </p>
                <p>
                    <%= travel.tags %>
                </p>
                <p>
                    <%= travel.start %>
                </p>
                <p>
                    <%= travel.end %>
                </p>
                <p>
                    <%= travel.comment %>
                </p>
                <p>
                    <%= travel.author %>
                </p>
            </li>
            <% }) %>
    </ul>
</div>
