<div class="container contact contact-index">
    <ul class="list-group">
        <% scheduls.forEach( function(results) {
      if ( typeof searchResult !== 'undefined' && searchResult){
          schedul = results.links
      }
      else{
          schedul = results
      } %>
            <li class="list-group-item">
                <p>
                    <p>
                        <%= schedul.cityName %>
                    </p>
                    <p>
                        <%= schedul.start %>
                    </p>
                    <p>
                        <%= schedul.end %>
                    </p>
                    <p>
                        <%= schedul.comment %>
                    </p>
                    <p>
                        <%= schedul.tags %>
                    </p>
                  <p>
                    <% schedul.pictures.forEach( function(picture) { %>
                        <img src="data:image/jpeg;base64,<%=picture.binaryData.toString('base64') %>" />
                        <% }) %>
                  </p>

                  <p>
                      <a href="/schedule/<%= schedul._id %>"> View </a>
                  </p>

            </li>
            <% }) %>
    </ul>
</div>
