<!DOCTYPE html>
<html>

    <head>
        <% include partials/head %>

    </head>

    <body>
        <% include partials/nav %>
        <% include partials/margin %>
        <section class="container">
            <div class="row">
                <figure class="col-sm-6">
                    <div class="container contact contact-index">
                        <ul class="list-group">
                                <li class="list-group-item">
                                    <p>
                                        <%= schedule.cityName %>
                                    </p>
                                    <p>
                                        <%= schedule.start %>
                                    </p>
                                    <p>
                                        <%= schedule.end %>
                                    </p>
                                    <p>
                                        <%= schedule.comment %>
                                    </p>
                                    <p>
                                        <%= schedule.tags %>
                                    </p>
                                    <p>
                                      <% schedule.pictures.forEach( function(picture) { %>
                                          <img src="data:image/jpeg;base64,<%=picture.binaryData.toString('base64') %>" />
                                          <% }) %>
                                    </p>
                                </li>


                                <div class="comments">
                                      <h4>Comments (<%= schedule.comments?schedule.comments.length:"0" %>)</h4>
                                      <% if(schedule.comments) { %>
                                          <% schedule.comments.forEach(function(comment){ %>
                                              <div class="comment">
                                                  <div class="top">
                                                    <b><%= comment.writer.name %></b> (<%= comment.createdAt %>)
                                                    <% if(user && user.equals( comment.writer._id) ) { %>
                                                    <form class="delete" method="post" action="/schedule/<%=schedule._id%>/comments/<%=comment._id%>?_method=delete">
                                                        <button type="button" onclick="confirm('Your comment will be deleted')?this.parentElement.submit():null;">X</button>
                                                    </form>
                                                    <% } %>
                                                </div>
                                                <div class="body">
                                                  <%= comment.body %>
                                                </div>
                                              </div>
                                          <% }) %>
                                          <% } %>


                                          <form class="addComment checkValidation" action="/schedule/comments/<%=schedule._id%>" method="post">
                                          <textarea class="cvRequired" type="text" name="comment[body]" cvRqErrMsg="comments is empty." cvRqErrTo="#cvErrTitle" <%= user? "": "disabled" %>
                                                placeholder="<%= user?"Add comment here":"Please login to make a comment" %>"></textarea>
                                          <button type="submit" <%= user? "": "disabled" %>>Comment</button>
                                          <div id="cvErrTitle" class="message"></div>
                                          </form>
                                </div>

                    </div>




                </figure>
            </div>
        </section>

        <% include partials/footer %>
    </body>

</html>
